.c-bar {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  //background-color: rgb(65, 65, 65);
  padding: 0 24px;
  margin: 0;
  height: 50px;
}
.c-bar-dropdown {
}
.c-dropdown-item {
  display: inline;
}
.c-bar-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  margin: 0;
}
.c-bar-input {
  padding: 0;
}
