.c-card-body {
  padding: 0;
  border-radius: 3px;
  transition: ease-in-out 0.15s;
}
.c-card-div {
  margin: 6px;
  background-color: transparent;
  border: none;
}
.c-card-img {
  border-radius: 3px;
}
.c-card-title {
  color: white;
  text-align: center;
  width: 100%;
  box-sizing: inline;
}
