.c-detail-poster-div {
}
.c-detail-info-div {
  color: white;
  padding-left: 0;
}
.c-filmsdetail-card-body {
}
.c-filmsdetail-card {
  margin-bottom: 24px;
}
.c-filmsdetail-card-info {
  display: inline;
}
.c-filmdetail-title {
}
.c-filmdetail-info-top {
  margin-right: 14px;
  font-size: 18px;
  font-weight: bold;
}
.c-filmdetail-info-div {
  display: flex;
  margin: 12px 0;
}
.c-filmdetail-star {
  width: 24px;
}
.c-filmsdetail-score {
  font-size: 24px;
  margin-left: 12px;
}
.c-filmdetail-info-reviews {
  margin-top: 96px;
}
.c-filmdetail-info-review-titel {
  display: inline;
}
