.c-detail-poster-div {
}
.c-detail-info-div {
  padding-left: 0;
}
.c-filmdetail {
  margin-bottom: 50px;
}
.c-filmsdetail-card {
  margin-bottom: 24px;
}
.c-filmsdetail-card-info {
  display: inline;
}
.c-filmdetail-title {
  margin-top: 15px;
}
// .c-film-img {
//   max-width: 80%;
// }
.c-filmdetail-info-top {
  margin-right: 14px;
  font-size: 18px;
  font-weight: bold;
}
.c-filmdetail-info-div {
  display: flex;
  margin: 12px 0;
}
.c-filmdetail-star {
  width: 24px;

  fill: grey;
}
.c-filmdetail-star-checked {
  width: 24px;

  fill: yellow;
}
.c-filmsdetail-score {
  font-size: 24px;
}
.c-filmdetail-info-reviews {
}
.c-filmdetail-info-review-titel {
  display: inline;
}
