.c-inloggen {
  height: 100vh;
}
.c-inloggen-main {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-inloggen-card-body {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}
.c-login-feedback {
  color: #dc3545;
  display: none;
}
