<main class="container">
  <h1 class="text-center text-light">Admin</h1>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="card-body table-responsive c-filmsdetail-card-body">
          <a href="/adminAdd"> <button class="btn btn-primary c-app-buttons-selected c-toevoegen-button" type="button">Film toevoegen</button></a>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Film/Serie?</th>
                <th scope="col">Release datum</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="c-table">
              <%= for (film) in films { %>
              <tr>
                <th scope="row"><%= film.FilmId %></th>
                <td><%= film.Titel %></td>
                <td><%= film.Type %></td>
                <td><%= film.ReleaseDatum %></td>
                <td>
                  <div>
                    <a href="/adminReviews/<%= film.FilmId %>">
                      <button class="btn btn-primary c-table-button c-app-buttons-selected" type="button">Reviews</button>
                    </a>
                    <a href="/adminEdit/<%= film.FilmId %>">
                      <button class="btn btn-primary c-table-button c-app-buttons-selected" type="button">Edit</button>
                    </a>
                    <button class="btn btn-primary c-table-button c-app-buttons-selected c-table-button-delete js-delete" type="button" id="<%= film.FilmId %>">Delete</button>
                  </div>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
