<main class="container">
  <h1 class="text-center text-light">Admin</h1>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="card-body c-filmsdetail-card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">FilmId</th>
                <th scope="col">Gebruiker</th>
                <th scope="col">Titel</th>
                <th scope="col">Aangemaakt</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="c-tableReviews">
              <%= for (review) in reviews { %>
              <tr>
                <th scope="row"><%= review.FilmId %></th>
                <td><%= review.UserName %></td>
                <td><%= review.Titel %></td>
                <td><%= review.DateOfCreation %></td>
                <td>
                  <div>
                    <button class="btn btn-primary c-table-button c-app-buttons-selected js-delete" type="button" id="<%= review.FilmId %>">Delete</button>
                  </div>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
