<main class="container">
  <h1 class="text-center text-light">Admin</h1>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="" class="card-img h-100" alt="banner" id="FilmPoster"/>
      </div>
      <div class="col-md-8">
        <div class="card-body c-filmsdetail-card-body">
          <h2 class="js-titel"></h2>
            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label htmlFor="FilmNaam">Titel</label>
                <input type="text" class="form-control" id="FilmNaam"/>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label htmlFor="FilmRegisseur">Regisseur</label>
                <input type="text" class="form-control" id="FilmRegisseur"/>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4 col-sm-6">
                <label htmlFor="FilmDatum">Release datum</label>
                <input type="datetime-local" class="form-control" id="FilmDatum" />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3 col-sm-6">
                <label htmlFor="FilmGenre">Genre</label>
                <select class="form-control" id="FilmGenre">
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3 col-sm-6">
                <label htmlFor="FilmType">Film of serie?</label>
                <select class="form-control" id="FilmType">
                    <option value="movie">Film</option>
                    <option value="tv">Serie</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3 col-sm-6">
                <label htmlFor="FilmDuur">Duratie (min)</label>
                <input type="number" class="form-control" id="FilmDuur" placeholder="Minuten"  />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12 col-sm-12">
                <label htmlFor="FilmDiscription">Discriptie</label>

                <textarea class="form-control" id="FilmDiscription"></textarea>
                <p class="c-login-feedback" id="c-feedback">gelieve alle velden in te vullen</p>
              </div>
            </div>
            <button class="btn c-app-buttons-selected c-button-toevoegen" type="submit" id="PUT">
              Film aanpassen
            </button>
        </div>
      </div>
    </div>
</main>
