<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>FilmCatalog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <%= javascriptTag("application.js") %> <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">FilmCatalog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Films</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/series">Series</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Watched list</a>
              </li>
            </ul>
            <div class="d-flex">
              <a href="/login">
                <button class="btn btn-dark" type="submit">Inloggen</button>
              </a>
              <a href="/registreren">
                <button class="btn btn-outline-success c-app-buttons" type="submit">Registeren</button>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <%= partial("flash.html") %> <%= yield %>
  </body>
</html>
