<main class="c-filmdetail">
    <div class="row c-app-row" id="c-film">
     <div class="col-sm-12 col-md-5 col-lg-3 c-filmdetail-imgdiv">
        <div class="c-filmdetail-imgdiv-watched"><button class="btn js-watched" id="notWatched" ></button></div>
        <img src="http://image.tmdb.org/t/p/w500<%= film.PosterUrl %>" class="d-block w-100" alt="poster" id="c-poster" />
     </div>
     <div class="col-sm-12 col-md-7 col-lg-9 c-detail-info-div text-light">
        <div class="c-filmsdetail-card-body">
            <div class="c-filmsdetail-card">
            <h2 class="c-filmdetail-title" id="c-title"><%= film.Titel %></h2>
              <p class="card-text">
                <div class="c-filmsdetail-card-info">
                    <span class="c-filmdetail-info-top" id="c-date"></span> <span class="c-filmdetail-info-top" id="c-duur"></span> <span class="c-filmdetail-info-top" id="c-genre"></span>
                </div>
              </p>
              <p class="card-text c-filmdetail-info-div">
                <span id="c-stars"></span>
                <span class="c-filmsdetail-score" id="c-score"></span>
              </p>
              
              <p class="card-text" id="c-discription">
                <%= film.Discription %>
              </p>
              <p class="card-text c-filmsdetail-card-info" >
                <span class="c-filmdetail-info-top" id="c-director">Regisseur: <%= film.Director %> </span>
                <span class=""></span>
              </p>     
            </div>
          </div>
        </div>
        </div>

            <div class="c-reviews text-light " >
              <div class="row c-app-row" id="c-film">
                <div class="col-sm-12 col-md-5 col-lg-3"></div>
                <div class="col-sm-12 col-md-5 col-lg-9 c-detail-info-div">
              <div class="c-filmdetail-info-reviews" >
                <h3 class="">Reviews</h3>
                <div class="form-row" id="c-review-form">
                </div>
                <div id="c-reviews">
                  <hr/>
  <h5 class="c-filmdetail-info-review-titel js-eerste"></h5>
  
                </div>
            </div>
          </div>
     
    </div>
</main>