    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">FilmCatalog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Films</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Series</a>
              </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-dark" type="submit">Inloggen</button>
              <button class="btn btn-outline-success" type="submit">Registeren</button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="c-app">
        <div class="row">
            <div class="col-sm-6 col-md-1 col-lg-1">
            <div class="card c-card-div">
                <div class="card-body c-card-body">
                  <img src="<%= rootPath() %>assets/images/Poster.jpg" class="d-block w-100 c-card-img" alt="..." />
                  <h7 class="card-title c-card-title" data-testid="title">
                    Avengers
                  </h7>
                </div>
              </div>
            </div>
        </div>
    </main>
  