<main class="container">
  <h1 class="text-light text-center">Reviews van jou</h1>
  <div id="c-reviews">
    <div class="card mb-3 c-reviews bg-dark text-light">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="<%= rootPath() %>assets/images/Poster.jpg" class="c-reviews-review-img" alt="..." />
        </div>
        <div class="col-md-10">
          <div class="card-body c-review-card">
            <div class="c-review-delete">delete</div>
            <div>
              <h5 class="card-title">Avengers - Beter dan verwacht</h5>
              <p class="card-text c-filmdetail-info-div">
                <img src="<%= rootPath() %>assets/images/star-full.svg" class="c-filmdetail-star" alt="..." />
                <img src="<%= rootPath() %>assets/images/star-full.svg" class="c-filmdetail-star" alt="..." />
                <img src="<%= rootPath() %>assets/images/star-full.svg" class="c-filmdetail-star" alt="..." />
                <img src="<%= rootPath() %>assets/images/star-full.svg" class="c-filmdetail-star" alt="..." />
                <img src="<%= rootPath() %>assets/images/star-empty.svg" class="c-filmdetail-star" alt="..." />
                <span class="c-filmsdetail-score">8/10</span>
              </p>
            </div>

            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="">15 augustus 2020</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
